body {
  font-family: Arial, sans-serif;
  margin: 0;
background-image: url(images2/bg.webp);
 background-repeat: no-repeat;
    background-size: 150%;
}
header {
  background-color: rgb(131, 168, 131);
  color: white;
  padding: 20px 0;
  text-align: center;
}
nav {
  background-color:rgb(207, 220, 187);
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px 0;
  margin-top: 40px;
}
nav button
{
  color: white;
 
}
.nav-link:hover {
  color: inherit !important;
  text-decoration: underline !important;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
}
.navbar-collapse {
    display: flex;
    justify-content: center;
  }
nav a:hover {
  text-decoration: underline;
}
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
  }
  

  .login-box {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  
  .login-box h2 {
    margin-bottom: 30px;
  color:rgb(131, 168, 131);
  }
  
  .login-box input {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-box button {
    width: 100%;
    padding: 12px;
  background-color: rgb(131, 168, 131);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  
 
  .login-box form button:hover {
  background-color:rgb(207, 220, 187);
  }
   section.login-box:hover
  {
background-color:rgb(207, 220, 187);
  }